
.vs/Ayyware Remastered/v15/Browse.VC.db
.vs/Ayyware Remastered/v15/Browse.VC.opendb
.vs/Ayyware Remastered/v15/ipch/AutoPCH/4c0fb860d23cbeee/AWALL.ipch
.vs/Ayyware Remastered/v15/ipch/AutoPCH/538a1565f7dca739/HOOKS.ipch
